<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png"  href="{% static 'images/logo.png' %}">
    <title>Your Todozzz</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: goldenrod;">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top todo-img">
            <span class="ml-2 text-success h5">Todozzz</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item active mr-3">
                        <a class="nav-link text-success h5" href="{% url 'current_todo_list' %}">Current <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active mr-3 h5">
                        <a class="nav-link text-success" href="{% url 'completed_todo_list' %}">Completed <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active mr-3 h5">
                        <a class="nav-link text-success" href="{% url 'create' %}">Create <span class="sr-only">(current)</span></a>
                    </li>
                    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><spam class="h5">Logout</spam></button>
                    </form>
                {% else %}
                    <li class="nav-item active mr-3 h5">
                        <a class="nav-link text-success" href="{% url 'signup' %}">SignUp <span class="sr-only">(current)</span></a>
                    </li>
                     <li class="nav-item active mr-3 h5">
                        <a class="nav-link text-success" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container backdrop">
            {% block content %}
            {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>