<!DOCTYPE html>

{% extends 'todo/base.html' %}

{% block content %}

    <div class="row justify-content-center mt-5 text-center">
        <div class="col-md-10">
            {% if todo_list %}
                <h1>{{ todo_list.count }} Current Todo{{ todo_list.count|pluralize }}</h1>
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todo_list %}
                {% for todo in todo_list %}
                        <a href="{% url 'view_todo' todo.id %}" class="nounderline">

                            <div class="alert {% if todo.important %} alert-danger {% else %} alert-success{% endif %}" role="alert">
                                <h4 class="alert-heading">{{ todo.title }}</h4>

                                {% if todo.memo %}
                                    <p>{{ todo.memo|truncatechars:200 }}</p>
                                {% endif %}

                                <hr>

                                <p class="mb-0">Created On: {{ todo.created|date:'M j Y H:i' }}</p>
                            </div>
                        </a>
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h2>Hey {{ user.username|title }}, Looks like you don't have any todos! Nice work.</h2>
                    <br>
                    <a role="button" class="btn btn-primary" href="{% url 'create' %}">New Todo</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
